body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    
    
}
.container {
    width: 200px;
    height: 400px;
    padding: 40px;
}

i {
    font-size: 35px;
    opacity: 50%;
}

h1 {
    font-size: 30px;
    text-align: left;
}


p {
    text-align:left;
}

.container p{
    height: 200px;
    margin: 2em 0 5em;
}

.container.sedan {
    background-color: orange;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
} 

.container.suvs {
    background-color: rgb(0, 130, 139);
    flex-direction: column;
    
}

.container.luxury {
    background-color: rgb(0, 49, 37);
    flex-direction: column;
   
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button {
    background: white;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.buttonsedan {
    color:orange;
    
}
.buttonsuv {
    
    color:rgb(0, 130, 139);
    
}

.buttonluxury {
   
    color:rgb(0, 49, 37);
   
}
 
@media only screen and (max-width: 850px){
    body{
        display: unset;
    }

} 


    
    

    